name: docker-login

on:
    push:
        branches: main
jobs:
    docker-login:
        runs-on: ubuntu-latest
        steps:
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                context: .
                push: true
                tags: ${{ vars.DOCKER_USERNAME }}/areyoulucky:latest