name: Data pipline (Test, ETL, dbt)

on:
    push:
        branches: main
jobs:
    run-data-pipeline:
        runs-on: ubuntu-latest

        steps:
            - name: checkout code
              uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.10'

            - name: Install Dependencies
              run: |
                   python -m pip install --upgrade pip
                   pip install -r requirements.txt
            
            - name: Step 1 - Run Python Tests
              run: pytest test_etl.py

            - name: Step 2 - Run Python ETL
              run: python etl.py

            - name: Step 3 - Run dbt Models
              run: dbt run
    
